.col-md-6{
    width: 100%;
}
.header__link{
    text-decoration: none;
    
}
.header{
    background-color: bisque;
}
.col-md-7{
    float: left;
    display: flex;
    align-items: center;
    gap: 2em;
    padding: 0;
    list-style: none;
    
}
@media screen and (min-width: 600px) {
    .col-md-6{
        width: 74.9%;
        background-color: blanchedalmond;
        float: left;
    }
    .col-md-7{
        float: left;
        display: flex;
        align-items: center;
        gap: 2em;
        padding: 0;
        list-style: none;
        height: 0px;
        background-color: blanchedalmond;
    }
}
@media screen and (min-width: 992px){
    
    .col-md-6{
        width: 83.3%;
        float: left;
    }
}