.col-md-6{
    width: 100%;
}
@media screen and (min-width: 600px) {
    body {
        background-color: red;
    }
    .col-md-6{
        width: 50%;
        background-color: wheat;
        float: left;
    }
    .col-md-7{
        width: 25%;
        float: left;
    }
}
@media screen and (min-width: 992px){
    body {
        background-color: aqua;
    }
    .col-lg-3{
        width: 25%;
        background-color: white;
        float: left;
    }
}